extends layout

block content
   h1 #{title}: #{book.title}

   include dumpBook.pug

   div(style='margin-left:20px;margin-top:20px')
      h4 Copies

      each bookInstance in bookInstances
         include dumpBookinstance.pug
      else
         p There are no copies of this book in the library

   br
   br
   a.btn.btn-warning(href=`${book.url}/delete`) Delete
