extends layout

block content
   h1 Genre: #{genre.name}

   div(style='margin-left:20px;margin-top:20px')
   
      h4 Books

      dl
         each book in genreBooks
            include dumpBookListItem.pug
         else
            p This genre has no books

   br
   br
   div.btn-group(role='group', aria-label='delete and update controls')
      a.btn.btn-warning.mr-2(href=`${genre.url}/delete`) Delete
      a.btn.btn-warning.mr-2(href=`${genre.url}/update`) Update


